<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/user/fragments/head :: head"></head>

<body>

<div th:include="/user/fragments/header :: header"></div>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div th:each="produk : ${produkList}" class="col-12 col-md-4 col-lg-3 mb-5">
                <form th:action="@{/user/keranjang/add/{id}(id=${produk.id})}" method="post" class="add-to-cart">
                <a class="product-item">
                    <img th:src="@{/images/{namaGambar}(namaGambar=${produk.namaGambar})}" class="img-fluid product-thumbnail">
                    <h3 class="product-title" th:text="${produk.nama}">Product Name</h3>
                    <strong class="product-price" th:text="${produk.harga}">Price</strong>
                    <span class="icon-cross">
                        <img th:src="@{/images/cross.svg}" class="img-fluid" alt="Cross Icon">
                    </span>
                </a>
                </form>
            </div>
            <!-- End Column 1 -->

        </div>
    </div>
</div>

<div th:include="/user/fragments/footer :: footer"></div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const iconCrosses = document.querySelectorAll('.icon-cross');

        iconCrosses.forEach(iconCross => {
            iconCross.addEventListener('click', function(event) {
                // Cari form yang terkait dengan ikon "cross"
                const form = event.target.closest('form.add-to-cart');
                if (form) {
                    // Kirim form
                    form.submit();
                }
            });
        });
    });
</script>
</body>

</html>
