<!-- Start Header/Navigation -->
<header>
<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Saga Store<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item" th:classappend="${activePage == 'home'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'products'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/produk}">Shop</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'about'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/about}">About us</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'services'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/services}">Services</a>
                </li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" th:href="@{/login}"><img th:src="@{/images/user.svg}"></a></li>
                <li><a class="nav-link" th:href="@{/keranjang}"><img th:src="@{/images/cart.svg}"></a></li>
            </ul>
        </div>
    </div>

</nav>
</header>
