<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/head :: head"></head>

<body>

<div th:include="/fragments/header :: header"></div>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Modern Interior <span class="d-block">Design Studio</span></h1>
                    <p class="mb-4">Dapatkan tampilan interior modern dengan studio desain kami. </p>
                    <p><a href="/produk" class="btn btn-secondary me-2">Shop Now</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img th:src="@{/images/couch.png}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                <p class="mb-4">Kami menggunakan bahan terbaik untuk memastikan setiap produk memiliki daya tahan dan keindahan yang luar biasa. Komitmen kami terhadap kualitas berarti Anda mendapatkan produk yang tahan lama dan elegan untuk mempercantik ruang Anda. </p>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div th:each="produk, iterStat : ${produkList}" class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" th:if="${iterStat.index lt 3}">
                <a class="product-item" href="/login" th:onclick="showLoginAlert()">
                    <img th:src="@{/images/{namaGambar}(namaGambar=${produk.namaGambar})}" class="img-fluid product-thumbnail">
                    <h3 class="product-title" th:text="${produk.nama}">Nordic Chair</h3>
                    <strong class="product-price" th:text="${produk.harga}">$50.00</strong>
                </a>
            </div>
            <!-- End Column 2 -->

        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Nikmati layanan terbaik yang kami tawarkan untuk kebutuhan desain interior Anda. Berikut adalah beberapa alasan mengapa Anda harus memilih kami:</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img th:src="@{/images/truck.svg}" alt="Image" class="img-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Layanan pengiriman yang cepat dan gratis untuk memastikan produk sampai tepat waktu.

                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img th:src="@{/images/bag.svg}" alt="Image" class="img-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Proses belanja yang mudah dan nyaman dengan berbagai pilihan pembayaran.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img th:src="@{/images/support.svg}" alt="Image" class="img-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Dukungan pelanggan tersedia 24 jam sehari, 7 hari seminggu untuk membantu Anda kapan saja.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img th:src="@{/images/return.svg}" alt="Image" class="img-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Kebijakan pengembalian yang mudah dan tanpa repot jika Anda tidak puas dengan produk kami.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img th:src="@{/images/why-choose-us-img.jpg}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="/images/img-grid-1.jpg" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="/images/img-grid-2.jpg" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="/images/img-grid-3.jpg" alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
                <p>Ubah ruang Anda dengan layanan desain interior ahli kami. Tim kami menggabungkan fungsionalitas dengan estetika untuk menciptakan interior yang indah dan personal. Apakah Anda ingin merombak rumah atau kantor Anda, kami menyediakan solusi yang disesuaikan untuk memenuhi kebutuhan Anda.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Rencana desain yang disesuaikan dengan gaya Anda</li>
                    <li>Bahan dan hasil akhir berkualitas tinggi</li>
                    <li>Pelaksanaan proyek yang profesional dan tepat waktu</li>
                    <li>Solusi inovatif untuk setiap ruang</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<div th:include="/fragments/footer :: footer"></div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:inline="javascript">
    function showLoginAlert() {
        alert("Anda tidak bisa menambahkan ke keranjang karena belum login.");
        window.location.href = "/login"; // Arahkan pengguna ke halaman login
        return false; // Mencegah navigasi bawaan
    }
</script>

</body>

</html>
